<ng-container *ngIf="currentAlert">
  <div
    class="app-alert-backdrop"
    [class.app-alert-backdrop-modal]="isModalAlert"
    [class.app-alert-backdrop-closing]="isClosingAlert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div
      class="app-alert-modal"
      [class.app-alert-modal-closing]="isClosingAlert"
      [ngClass]="alertTypeClass"
      role="alertdialog"
      aria-modal="true"
    >
      <div class="app-alert-symbol">
        <i class="bi" [ngClass]="alertIconClass"></i>
      </div>

      <h2 class="app-alert-title">
        {{ alertTitle }}
      </h2>

      <p class="app-alert-message">{{ alertMessage }}</p>

      <button type="button" class="btn app-alert-action" [disabled]="isClosingAlert" (click)="alerts.dismiss(alertId)">
        Okay
      </button>
    </div>
  </div>
</ng-container>
