<div class="panel">
  <div class="panel-header">
    <span>Legend</span>
    <button class="panel-close" (click)="close()">x</button>
  </div>

  <div class="panel-body">
    <div class="legend-item" *ngFor="let layer of getSortedLayers()">
      <div [ngClass]="getSymbolClasses(layer.legend)" [ngStyle]="getSymbolStyle(layer.legend)">
        <ng-container *ngIf="layer.legend.imageUrl; else defaultLegendSymbol">
          <img class="symbol-image" [src]="layer.legend.imageUrl" [alt]="layer.legend.label" />
        </ng-container>
        <ng-template #defaultLegendSymbol>
          <ng-container [ngSwitch]="resolveSymbolKind(layer.legend)">
            <ng-container *ngSwitchCase="'track'">
              <span class="track-rail track-rail-left"></span>
              <span class="track-rail track-rail-right"></span>
              <span class="track-sleeper" *ngFor="let sleeper of [1,2,3,4]"></span>
            </ng-container>
            <span *ngSwitchDefault class="symbol-text" [style.color]="layer.legend.textColor || layer.legend.strokeColor || layer.legend.color">
              {{ layer.legend.symbolText || '' }}
            </span>
          </ng-container>
        </ng-template>
      </div>

      <span>{{ layer.legend.label }}</span>
    </div>
  </div>
</div>
